*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
    perspective: 600px;
}

.Card{
    width: 300px;
    height: 350px;
    background-color: white;
    border: 1px solid rgb(6, 6, 65); 
    border-radius: 20px;
    margin: 100px auto;
    position: relative;
    transform-style: preserve-3d;
}
.Card:hover{
    transform:rotateY(180deg);
    transition: all 1s ease-in-out;
}
.Card > div{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;  

}

.Card .front h1{
    margin-top: 30px;
}
.Card .front{
    z-index: 2; 
    backface-visibility: hidden;        
    width: 100%;
    border-radius: ;
    text-align: center;
}

.Card .front span{
    color: rgb(18, 16, 94);
    font-weight: bold;
}

.Card .front header{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    height: 80px;
    background-color: rgb(18, 16, 94);

}
img{
    margin-top: 20px;
    width: 100px;
    border-radius: 50%;
}

.Card .back{
    z-index: 1;
 
    transform: rotateY(180deg);
}
.back{
    width: 100%;
}

.back h1{
    margin-top: 0px;
    height: 80px;
    text-align: center;
    background-color: rgb(18, 16, 94);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    color: white;
    padding-top: 30px;
}
ul li{
    margin-top: 50px;
    list-style: none;
    line-height: 20px;
    font-weight: bold;
    
}

ul li:hover{
    color: rgb(18, 16, 94);;
}