.grid-container{
    display: grid;
    grid-template-areas: 
    "hd hd hd hd"
    "nav nav main main"
    "ad ad main main"
    "ad ad main main"
    "ft ft ft ft"
    ;
    grid-gap: 10px;

    text-align: center;
}

.grid-container > *{
    background-color: rgb(44, 40, 40);
    color: white;
    padding: 30px;
}
header{
    grid-area: hd;
}
nav{
    grid-area: nav;
}
aside{
    grid-area: ad;
}
main{
    grid-area: main;
}
footer{
    grid-area: ft;
}