img{
    width: 300px;
    height: 200px;

    margin: 100px auto;
    transition: all 0.5s ease-out;
    margin: 30%;
}

img:hover{

    /* Transform:Matrix(ScaleX,SkewX,SkewY,ScaleY,TranslateX,TranslateY) */
 
    transform: matrix(1,0,0,1,0,-100);
    
}