*{
	box-sizing: border-box;
}

div{
	
	float: right;

}
h1{
	display: inline-block;
	border: 1px solid black	;
	padding: 10px;
	text-align: center;
	transform:  rotate(10deg);
	text-transform: uppercase;
	
}

h1:hover{
	text-shadow: 10px 10px 5px red;
	transition: width 5s
}