div{
    width: 200px;
    height: 100px;
    background-color: #CCC;
    color: black;
    margin: 100px auto;
    border: 1px solid #EEE;
    overflow: scroll;
}

div:hover{
    /* First value for x and second value for y:
        1. if x is positive the div will move to the right
        2. if x is negative the div will move to the left
        3. if y is positive the div will move to the bottom
        3. if y is negative the div will move to the up */
        
    transform: translate(20px,10px);

    
}