
/* take the p elements which are direct child to .container class */
.container > p{
    color: brown;
} 

/* take second p in the div that is found in container class */
.container div p:nth-child(2){
    color: blue;
}

/* 
apply some styles on element input that has type attribute which takes different values and I group all them using coma separating
*/
input[type="text"],input[type="password"],input[type="search"],input[type="email"],button{
    color: white;
    width: 100%;
    margin-top: 10px;
}